<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PickersEricW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7FECA637203B6C5400E7D66D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FECA64B203B6C5500E7D66D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FECA656203B6C5500E7D66D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
